Django==1.8.17
mysqlclient==1.3.4
django-suit==0.2.7
django-simple-captcha
easy_thumbnails
django-geoposition
django-smart-selects
django_select2==4.3.2
django-reversion==1.8.5
django-adminactions
httplib2
django-celery
celery==3.1.19
pyyaml 
ua-parser 
user-agents
django-storages
sorl-thumbnail
django-extensions==1.6.7
django-rest-swagger==2.1.2
djangorestframework==3.6.2
markdown
django-filter
django-resized
pyqrcode
pyfb
django-rosetta
omise
python-dateutil
bcrypt
pusher